* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Sans", sans-serif;
}
.ProjectContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 0.5em;
}

.ProjectCard {
  width: 500px;
  height: auto;
}

.StackBox > button {
  margin-top: 1em;
  width: 6.5em;
  padding: 15px;
}

.ProjectDetails > p {
  margin-top: 30px;
}

.Header .active {
  color: aqua;
}

details summary::after {
  transform: rotate(0);
}

details[open] > summary::after {
  transform: rotate(180deg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

swiper-container::part(button-prev),
swiper-container::part(button-next) {
  --swiper-navigation-size: 20px;
}

nav ul li:active {
  background-color: none;
}

@media screen and (max-width: 600px) {
  .ProjectCard {
    width: 95%;
  }

  h2 {
    font-size: 23px;
  }
}
